# CrateDB Kubernetes Operator
#
# Licensed to Crate.IO GmbH ("Crate") under one or more contributor
# license agreements.  See the NOTICE file distributed with this work for
# additional information regarding copyright ownership.  Crate licenses
# this file to you under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.  You may
# obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
# License for the specific language governing permissions and limitations
# under the License.
#
# However, if you have executed another commercial license agreement
# with Crate these terms will supersede the license and you may use the
# software solely pursuant to the terms of the relevant commercial agreement.

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crate-operator
  namespace: crate-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: crate-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: crate-operator
    spec:
      containers:
      - env:
        - name: CRATEDB_OPERATOR_BOOTSTRAP_TIMEOUT
          value: "1800"
        - name: CRATEDB_OPERATOR_DEBUG_VOLUME_SIZE
          value: "128GiB"
        - name: CRATEDB_OPERATOR_DEBUG_VOLUME_STORAGE_CLASS
          value: "default"
        - name: CRATEDB_OPERATOR_JMX_EXPORTER_VERSION
          value: "1.2.3"
        - name: CRATEDB_OPERATOR_LOG_LEVEL
          value: "INFO"
        - name: CRATEDB_OPERATOR_ROLLING_RESTART_TIMEOUT
          value: "3600"
        - name: CRATEDB_OPERATOR_SCALING_TIMEOUT
          value: "3600"
        image: "crate/crate-operator:latest"
        imagePullPolicy: Always
        name: crate-operator
      serviceAccountName: crate-operator
