{{- if .Values.serviceAccount.create -}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "crate-operator.labels" . | nindent 4 }}
  name: {{ include "crate-operator.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}
{{- end }}
