name: Build and publish Docker Image

on:
  push:
    tags:
    - "*"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: crate/crate-operator
          tags: |
            type=semver,pattern={{major}}.{{minor}}.{{patch}}
            type=raw,value={{tag}}
      - name: Docker meta (sidecar)
        id: meta_sidecar
        uses: docker/metadata-action@v5
        with:
          images: crate/crate-control
          tags: |
            type=semver,pattern={{major}}.{{minor}}.{{patch}}
            type=raw,value={{tag}}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and publish
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
      - name: Build and publish sidecar
        uses: docker/build-push-action@v6
        with:
          context: ./sidecars/cratecontrol
          file: ./sidecars/cratecontrol/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta_sidecar.outputs.tags }}
